@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* 
- The header is at the top of the page, the footer is at the bottom, and they stay in place if you resize your screen.
- The header and footer have padding.
- The links in the header and footer are pushed to either side.
- There is space between the links in the header and footer.
- The footer has a light gray background (`#eeeeee`).
- The logo, input and buttons are centered in the screen.
- The buttons have an appropriate amount of padding.
- There is space between the logo, input and buttons. 
*/

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  padding: 8px;
}

.footer {
  background-color: #eeeeee;
}

.left-links,
.right-links {
  display: flex;
  gap: 10px;
  margin: 15px;
  padding: 0;
  justify-content: center;
  /* border: 1px solid red; */
}

.left-links {
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  /* border: 1px solid red; */
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons button {
  padding: 8px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  color: #575757;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  color: #353535;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}